.container{
    width: 350px;
    height: 35px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-opciones{
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-size: 0.8rem;
}

.opciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.opc{
    color: rgb(226, 226, 226);
    font-weight: 400;
}