#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.principal{
  padding-top: 2rem;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}